<div class="container col-md-12 mb-2"  >
  <div class="card" >
    <div class="card-body">
      <h5 class="card-title">1. Conocimientos y Experiencia en Lenguajes de Programación</h5>
      <form [formGroup]="miFormulario"  >
        <div class="form-group">

          <div class="row d-flex align-items-center">

            <div class="col-sm-2">
                  <label for="python"   style="min-width: 100px;">Python</label>
            </div>
            <div class="col-sm-8">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" formControlName="pythonNivel" value="Basico" (change)="onCheckboxChange('python', 'Basico', $event)" >
                <label class="form-check-label">Basico</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" formControlName="pythonNivel" value="Intermedio" (change)="onCheckboxChange('python', 'Intermedio', $event)">
                <label class="form-check-label">Intermedio</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" formControlName="pythonNivel" value="Avanzado" (change)="onCheckboxChange('python', 'Avanzado', $event)">
                <label class="form-check-label">Avanzado</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" formControlName="pythonNivel" value="Experto" (change)="onCheckboxChange('python', 'Experto', $event)">
                <label class="form-check-label">Experto</label>
              </div>

              <div class="form-check form-check-inline">
                <input type="number" step="1" (input)="onInputChange('pythonAnios', $event)" formControlName="pythonAnios" class="form-control experiencia-input" placeholder="Años de Experiencia">
              </div>
              <div class="form-check form-check-inline">
                @if(miFormulario.get('pythonAnios')?.invalid ){
                  <div class="text-danger ">
                    <small>*</small>
                  </div>
                }
              </div>

            </div>

          </div>

        </div>

        <div class="form-group">

          <div class="row">
            <div class="col-sm-2">
              <label for="java" class="me-3" style="min-width: 100px;">Java</label>
            </div>

            <div class="col-sm-8">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" formControlName="javaNivel" value="Basico" (change)="onCheckboxChange('java', 'Basico', $event)">
                <label class="form-check-label">Basico</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" formControlName="javaNivel" value="Intermedio" (change)="onCheckboxChange('java', 'Intermedio', $event)">
                <label class="form-check-label">Intermedio</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" formControlName="javaNivel" value="Avanzado" (change)="onCheckboxChange('java', 'Avanzado', $event)">
                <label class="form-check-label">Avanzado</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" formControlName="javaNivel" value="Experto" (change)="onCheckboxChange('java', 'Experto', $event)" >
                <label class="form-check-label">Experto</label>
              </div>
              <div class="form-check form-check-inline">
                <input type="number" step="1" (input)="onInputChange('javaAnios', $event)"  formControlName="javaAnios" class="form-control experiencia-input" placeholder="Años de Experiencia">
              </div>
              <div class="form-check form-check-inline">
                @if(miFormulario.get('javaAnios')?.invalid ){
                  <div class="text-danger">
                    <small>*</small>
                  </div>
                }

              </div>

            </div>
          </div>
        </div>


        <div class="form-group">

          <div class="row">
            <div class="col-sm-2">
              <label for="javascript" class="me-3" style="min-width: 100px;">JavaScript</label>
            </div>
            <div class="col-sm-8">

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" formControlName="javascriptNivel" value="Basico" (change)="onCheckboxChange('javascript', 'Basico', $event)">
                <label class="form-check-label">Basico</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" formControlName="javascriptNivel" value="Intermedio" (change)="onCheckboxChange('javascript', 'Intermedio', $event)">
                <label class="form-check-label">Intermedio</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" formControlName="javascriptNivel" value="Avanzado"  (change)="onCheckboxChange('javascript', 'Avanzado', $event)">
                <label class="form-check-label">Avanzado</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" formControlName="javascriptNivel" value="Experto"  (change)="onCheckboxChange('javascript', 'Experto', $event)">
                <label class="form-check-label">Experto</label>
              </div>
              <div class="form-check form-check-inline">
                <input type="number" step="1" (input)="onInputChange('javascriptAnios', $event)" formControlName="javascriptAnios" class="form-control experiencia-input" placeholder="Años de Experiencia">

              </div>
              <div  class="form-check form-check-inline">
                @if(miFormulario.get('javascriptAnios')?.invalid ){
                  <div class="text-danger ">
                    <small>*</small>
                  </div>
                }

              </div>



            </div>
          </div>
        </div>


        <div class="form-group">

          <div class="row">
            <div class="col-sm-2">
              <label for="net" class="me-3" style="min-width: 100px;">.NET</label>

            </div>
            <div class="col-sm-8">

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" formControlName="netNivel" value="Basico"  (change)="onCheckboxChange('net', 'Basico', $event)">
                <label class="form-check-label">Basico</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" formControlName="netNivel" value="Intermedio"  (change)="onCheckboxChange('net', 'Intermedio', $event)">
                <label class="form-check-label">Intermedio</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" formControlName="netNivel" value="Avanzado" (change)="onCheckboxChange('net', 'Avanzado', $event)">
                <label class="form-check-label">Avanzado</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" formControlName="netNivel" value="Experto"  (change)="onCheckboxChange('net', 'Experto', $event)">
                <label class="form-check-label">Experto</label>
              </div>
              <div class="form-check form-check-inline">
                <input type="number" step="1" (input)="onInputChange('netAnios', $event)" formControlName="netAnios" class="form-control experiencia-input" placeholder="Años de Experiencia">
              </div>

              <div class="form-check form-check-inline">
                @if(miFormulario.get('netAnios')?.invalid ){
                  <div class="text-danger ">
                    <small>*</small>
                  </div>
                }
              </div>

            </div>
          </div>
        </div>

      </form>
    </div>
  </div>


</div>


