.form-group label {
  font-size: 0.875rem;
  /* Tamaño de fuente más pequeño para las etiquetas */
  margin-bottom: 0.15rem;
}

.form-control {
  font-size: 0.5rem;
  /* Tamaño de fuente más pequeño para los campos de entrada */
}
