<div  class="card mx-auto mb-0" style="max-width: 800px; margin-top: 1rem;">
  <h6 class="text-center">{{title}}</h6>
</div>

<app-conocimientos-programacion (sendFormularioLenguageProgramacion)="updateFormularioLenguageProgramacion($event)" ></app-conocimientos-programacion>
<app-conocimientos-programacion></app-conocimientos-programacion>
<app-conocimientos-programacion></app-conocimientos-programacion>
<app-conocimientos-programacion></app-conocimientos-programacion>
<app-conocimientos-programacion></app-conocimientos-programacion>
<app-conocimientos-programacion></app-conocimientos-programacion>
<app-conocimientos-programacion></app-conocimientos-programacion>


<div  class="card mx-auto " style="max-width: 800px; margin-top: 1rem;">
  <button class="btn btn-primary mt-0" >Enviar</button>
</div>

<div class="mt-3">

</div>
