<div  class="card mx-auto mb-0" style="max-width: 800px; margin-top: 1rem;">
  <h6 class="text-center">{{title}}</h6>
</div>

<app-conocimientos-programacion [flagEnvioFormulario]="flagFormularioLenguageProgramacion" (sendFormularioLenguageProgramacion)="updateFormularioLenguageProgramacion($event)" ></app-conocimientos-programacion>

<app-conocimientos-framework-entornos-desarrollo [flagEnvioFormulario]="flagFormularioLenguageProgramacion" (sendFormularioFrameworkEntornosDesarrollo)="updateFormularioLenguageProgramacion($event)" ></app-conocimientos-framework-entornos-desarrollo>

@if (isProcessing) {


<div class="text-center mt-3 "  >
  <div class="spinner-border"></div>
  <div>
    <p>Procesando...</p>

  </div>
</div>
}

<div  class="card mx-auto " style="max-width: 800px; margin-top: 1rem;">
  <button class="btn btn-primary mt-0" [disabled]="isProcessing" (click)="enviarForm()" >Enviar</button>
</div>

<div class="mt-3">

</div>
