<div class="container mb-2">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">6. Desarrollo de Interfaces Frontend</h5>
      <form [formGroup]="miFormulario">
        <div class="form-group">

          <div class="mb-2">
            <label for="frontend">¿Cuál es tu experiencia en la creación de interfaces de usuario funcionales y centradas en la experiencia del usuario?</label>
          </div>

          <div class="container">
            <div class="row">

                <div class="form-check mb-2">
                  <input class="form-check-input" id="1" type="checkbox" formControlName="frontendNivel" value="Basico" (change)="onCheckboxChange('frontend', 'Basico', $event)">
                  <label class="form-check-label">No tengo experiencia</label>
                </div>

                <div class="form-check mb-2">
                  <input class="form-check-input" type="checkbox" formControlName="frontendNivel" value="Intermedio" (change)="onCheckboxChange('frontend', 'Intermedio', $event)">
                  <label class="form-check-label">He trabajado en pequeños proyectos</label>
                </div>

                <div class="form-check mb-2">
                  <input class="form-check-input" type="checkbox" formControlName="frontendNivel" value="Avanzado" (change)="onCheckboxChange('frontend', 'Avanzado', $event)">
                  <label class="form-check-label">Tengo experiencia en proyectos medianos/grandes</label>
                </div>

                <div class="form-check mb-2">
                  <input class="form-check-input" type="checkbox" formControlName="frontendNivel" value="Experto" (change)="onCheckboxChange('frontend', 'Experto', $event)">
                  <label class="form-check-label">Soy experto en desarrollo frontend</label>
                </div>

              <div class="col-6 col-sm-4 col-md-2 col-lg-3 col-xl-3 col-xxl-3">
                <input type="number" step="1" (input)="onInputChange('frontendAnios', $event)"  formControlName="frontendAnios" class="form-control experiencia-input mt-2" placeholder="Años de Experiencia">
              </div>
              <div class="col-1 text-danger">
                @if(miFormulario.get('frontendAnios')?.invalid ){
                    <small>*</small>
                }
              </div>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>


</div>

