.form-group label {
  font-size: 0.9rem;
  /* Tamaño de fuente más pequeño para las etiquetas */
  margin-bottom: 0.15rem;

}


.form-group {
  font-size: 0.9rem;
  /* Tamaño de fuente más pequeño para los campos de entrada */

}



.experiencia-input {
  padding: 0.3rem;
  /* Reducir el padding del input de años de experiencia */
  font-size: 0.9rem;
  /* Aumentar el tamaño de la fuente del input de años de experiencia */
  min-width: 4rem;
  max-width: 10rem;
}


.card-title {
  font-size: 1rem;
  /* Reducir el tamaño de la fuente del título de la tarjeta */
}


.card {
  background-color: #4F062A;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  /* Sombra en el borde inferior y derecho */
}

.card label {
  color: rgb(184, 176, 176);
  /* Color blanco para las etiquetas dentro de la tarjeta */
}


.card-body {

  color: rgb(184, 176, 176);
}
