<div class="container mb-2">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">3. Integración de Plataformas y APIs de IA</h5>
      <form [formGroup]="miFormulario" >
        <div class="form-group ">

            <div class="row">
                <div class="col-sm-2" >
                  <label for="openai" >OpenAI</label>
                </div>

                <div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 col-xxl-1">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" formControlName="openaiNivel" value="Si" (change)="onCheckboxChange('openai', 'Si', $event)" >
                    <label class="form-check-label">Si</label>
                  </div>

                </div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 col-xxl-1">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" formControlName="openaiNivel" value="No" (change)="onCheckboxChange('openai', 'No', $event)">
                    <label class="form-check-label">No</label>
                  </div>

                </div>

                <div class="col-6 col-sm-4 col-md-2 col-lg-3 col-xl-3 col-xxl-3">
                  <div class="form-check form-check-inline">
                    <input type="number" step="1" (input)="onInputChange('openaiAnios', $event)" formControlName="openaiAnios" class="form-control experiencia-input" placeholder="Años de Experiencia">
                  </div>
                </div>
                <div class="col-1 text-danger">
                    @if(miFormulario.get('openaiAnios')?.invalid ){
                        <small>*</small>
                    }

                </div>
            </div>

        </div>
        <div class="form-group ">

          <div class="row">
            <div class="col-sm-2">
              <label for="azureaiservice" >Azure AI Service</label>

            </div>
            <div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 col-xxl-1">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" formControlName="azureaiserviceNivel" value="Si" (change)="onCheckboxChange('azureaiservice', 'Si', $event)">
                <label class="form-check-label">Si</label>
              </div>
            </div>

            <div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 col-xxl-1">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" formControlName="azureaiserviceNivel" value="No" (change)="onCheckboxChange('azureaiservice', 'No', $event)">
                <label class="form-check-label">No</label>
              </div>
            </div>

            <div class="col-6 col-sm-4 col-md-2 col-lg-3 col-xl-3 col-xxl-3">
              <div class="form-check form-check-inline">
                <input type="number" step="1" (input)="onInputChange('azureaiserviceAnios', $event)" formControlName="azureaiserviceAnios" class="form-control experiencia-input" placeholder="Años de Experiencia">
              </div>
            </div>

            <div class="col-1 text-danger">
              @if(miFormulario.get('azureaiserviceAnios')?.invalid ){
                <div class="text-danger">
                  <small>*</small>
                </div>
              }
            </div>
          </div>
        </div>


        <div class="form-group ">
          <div class="row">
            <div class="col-sm-2">
              <label for="awsbedrock" >AWS Bedrock</label>
            </div>
            <div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 col-xxl-1">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" formControlName="awsbedrockNivel" value="Si" (change)="onCheckboxChange('awsbedrock', 'Si', $event)">
                <label class="form-check-label">Si</label>
              </div>
            </div>
            <div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 col-xxl-1">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" formControlName="awsbedrockNivel" value="No" (change)="onCheckboxChange('awsbedrock', 'No', $event)">
                <label class="form-check-label">No</label>
              </div>
            </div>

            <div class="col-6 col-sm-4 col-md-2 col-lg-3 col-xl-3 col-xxl-3">
              <div class="form-check form-check-inline">
                <input type="number" step="1" (input)="onInputChange('awsbedrockAnios', $event)" formControlName="awsbedrockAnios" class="form-control experiencia-input" placeholder="Años de Experiencia">
              </div>
            </div>

            <div class="col-1 text-danger">
              @if(miFormulario.get('awsbedrockAnios')?.invalid ){
                  <small>*</small>
              }
            </div>
          </div>
        </div>

        <div class="form-group ">

          <div class="row">
            <div class="col-sm-2">
              <label for="googlevertexai" >Google Vertex AI</label>

            </div>
            <div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 col-xxl-1">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" formControlName="googlevertexaiNivel" value="Si"  (change)="onCheckboxChange('googlevertexai', 'Si', $event)">
                <label class="form-check-label">Si</label>
              </div>
            </div>
            <div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 col-xxl-1">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" formControlName="googlevertexaiNivel" value="No"  (change)="onCheckboxChange('googlevertexai', 'No', $event)">
                <label class="form-check-label">No</label>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-2 col-lg-3 col-xl-3 col-xxl-3">
              <div class="form-check form-check-inline">
                <input type="number" step="1" (input)="onInputChange('googlevertexaiAnios', $event)" formControlName="googlevertexaiAnios" class="form-control experiencia-input" placeholder="Años de Experiencia">

              </div>
            </div>
            <div class="col-1 text-danger">
              @if(miFormulario.get('googlevertexaiAnios')?.invalid ){
                  <small>*</small>
              }
            </div>


          </div>
        </div>

        <div class="form-group ">

          <div class="row">
            <div class="col-sm-2">
              <label for="huggingface" >Hugging Face</label>
            </div>
            <div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 col-xxl-1">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" formControlName="huggingfaceNivel" value="Si"  (change)="onCheckboxChange('huggingface', 'Si', $event)">
                <label class="form-check-label">Si</label>
              </div>
            </div>

            <div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 col-xxl-1">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" formControlName="huggingfaceNivel" value="No"  (change)="onCheckboxChange('huggingface', 'No', $event)">
                <label class="form-check-label">No</label>
              </div>
            </div>

            <div class="col-6 col-sm-4 col-md-2 col-lg-3 col-xl-3 col-xxl-3">
              <div class="form-check form-check-inline">
                <input type="number" step="1" (input)="onInputChange('huggingfaceAnios', $event)" formControlName="huggingfaceAnios" class="form-control experiencia-input" placeholder="Años de Experiencia">
              </div>
            </div>
            <div class="col-1 text-danger">
              @if(miFormulario.get('huggingfaceAnios')?.invalid ){
                  <small>*</small>
              }
            </div>

          </div>
        </div>
        <div class="form-group ">

          <div class="row">
            <div class="col-sm-2">
              <label for="ibmWatsonAI" >IBM Watson AI</label>

            </div>
            <div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 col-xxl-1">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" formControlName="ibmWatsonAINivel" value="Si"  (change)="onCheckboxChange('ibmWatsonAI', 'Si', $event)">
                <label class="form-check-label">Si</label>
              </div>
            </div>
            <div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 col-xxl-1">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" formControlName="ibmWatsonAINivel" value="No"  (change)="onCheckboxChange('ibmWatsonAI', 'No', $event)">
                <label class="form-check-label">No</label>
              </div>
            </div>

            <div class="col-6 col-sm-4 col-md-2 col-lg-3 col-xl-3 col-xxl-3">
              <div class="form-check form-check-inline">
                <input type="number" step="1" (input)="onInputChange('ibmWatsonAIAnios', $event)" formControlName="ibmWatsonAIAnios" class="form-control experiencia-input" placeholder="Años de Experiencia">
              </div>
            </div>

            <div class="col-1 text-danger">
                @if(miFormulario.get('ibmWatsonAIAnios')?.invalid ){
                    <small>*</small>
                }
            </div>

          </div>
        </div>
        <div class="form-group ">

          <div class="row">
            <div class="col-sm-2">
              <label for="huggingface" >Databricks Mlflow</label>

            </div>
            <div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 col-xxl-1">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" formControlName="databricksMlflowNivel" value="Si"  (change)="onCheckboxChange('databricksMlflow', 'Si', $event)">
                <label class="form-check-label">Si</label>
              </div>
            </div>
            <div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 col-xxl-1">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" formControlName="databricksMlflowNivel" value="No"  (change)="onCheckboxChange('databricksMlflow', 'No', $event)">
                <label class="form-check-label">No</label>
              </div>
            </div>
            <div class="col-6 col-sm-4 col-md-2 col-lg-3 col-xl-3 col-xxl-3">
              <div class="form-check form-check-inline">
                <input type="number" step="1" (input)="onInputChange('databricksMlflowAnios', $event)" formControlName="databricksMlflowAnios" class="form-control experiencia-input" placeholder="Años de Experiencia">
              </div>
            </div>
            <div class="col-1 text-danger">
              @if(miFormulario.get('databricksMlflowAnios')?.invalid ){
                  <small>*</small>
              }
            </div>


          </div>
        </div>

      </form>
    </div>
  </div>


</div>


