<div class="container mb-2">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">7. Experiencia en Metodologías Ágiles y Equipos Multidisciplinarios</h5>
      <form [formGroup]="miFormulario" >
        <div class="form-group">

            <div class="mb-2">
              <label for="metodologiaagil" >¿Has trabajado con metodologías ágiles como Scrum o Kanban?</label>
            </div>

            <div class="container">
              <div class="row">
                <div class="form-check mb-2">
                  <input class="form-check-input" type="checkbox" formControlName="metodologiaagilNivel" value="Basico" (change)="onCheckboxChange('metodologiaagil', 'Basico', $event)">
                  <label class="form-check-label">No</label>
                </div>
                <div class="form-check mb-2">
                  <input class="form-check-input" type="checkbox" formControlName="metodologiaagilNivel" value="Intermedio" (change)="onCheckboxChange('metodologiaagil', 'Intermedio', $event)">
                  <label class="form-check-label">Sí, de forma ocasional</label>
                </div>
                <div class="form-check mb-2">
                  <input class="form-check-input" type="checkbox" formControlName="metodologiaagilNivel" value="Avanzado" (change)="onCheckboxChange('metodologiaagil', 'Avanzado', $event)">
                  <label class="form-check-label">Sí, en proyectos regulares</label>
                </div>
                <div class="form-check mb-2">
                  <input class="form-check-input" type="checkbox" formControlName="metodologiaagilNivel" value="Experto" (change)="onCheckboxChange('metodologiaagil', 'Experto', $event)">
                  <label class="form-check-label">Sí, con certificaciones o experiencia avanzada</label>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-lg-3 col-xl-3 col-xxl-3">
                  <input type="number" step="1" (input)="onInputChange('metodologiaagilAnios', $event)"  formControlName="metodologiaagilAnios" class="form-control experiencia-input" placeholder="Años de Experiencia">
                </div>
                <div class="col-1 text-danger">
                  @if(miFormulario.get('metodologiaagilAnios')?.invalid ){
                    <div class="text-danger">
                      <small>*</small>
                    </div>
                  }
                </div>


              </div>
            </div>


        </div>
      </form>
    </div>
  </div>

</div>



