<div class="container col-md-12 mb-2">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">2. Conocimiento y Experiencia con Frameworks y Entornos de Desarrollo</h5>
      <form [formGroup]="miFormulario"  >
        <div class="form-group ">

          <div class="row d-flex align-items-center">

              <div class="col-sm-2">
                <label for="nodejs"  style="min-width: 100px;">nodejs</label>

              </div>
              <div class="col-sm-8">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" formControlName="nodejsNivel" value="Basico" (change)="onCheckboxChange('nodejs', 'Basico', $event)" >
                  <label class="form-check-label">Basico</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" formControlName="nodejsNivel" value="Intermedio" (change)="onCheckboxChange('nodejs', 'Intermedio', $event)">
                  <label class="form-check-label">Intermedio</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" formControlName="nodejsNivel" value="Avanzado" (change)="onCheckboxChange('nodejs', 'Avanzado', $event)">
                  <label class="form-check-label">Avanzado</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" formControlName="nodejsNivel" value="Experto" (change)="onCheckboxChange('nodejs', 'Experto', $event)">
                  <label class="form-check-label">Experto</label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="number" step="1" (input)="onInputChange('nodejsAnios', $event)" formControlName="nodejsAnios" class="form-control  experiencia-input" placeholder="Años de Experiencia">

                </div>
                <div class="form-check form-check-inline">
                  @if(miFormulario.get('nodejsAnios')?.invalid ){
                    <div class="text-danger ">
                      <small>*</small>
                    </div>
                  }

                </div>

              </div>

          </div>


        </div>
        <div class="form-group ">

          <div class="row d-flex align-items-center">

              <div class="col-sm-2">
                <label for="react"  style="min-width: 100px;">react</label>

              </div>
              <div class="col-sm-8">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" formControlName="reactNivel" value="Basico" (change)="onCheckboxChange('react', 'Basico', $event)">
                  <label class="form-check-label">Basico</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" formControlName="reactNivel" value="Intermedio" (change)="onCheckboxChange('react', 'Intermedio', $event)">
                  <label class="form-check-label">Intermedio</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" formControlName="reactNivel" value="Avanzado" (change)="onCheckboxChange('react', 'Avanzado', $event)">
                  <label class="form-check-label">Avanzado</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" formControlName="reactNivel" value="Experto" (change)="onCheckboxChange('react', 'Experto', $event)" >
                  <label class="form-check-label">Experto</label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="number" step="1" (input)="onInputChange('reactAnios', $event)" formControlName="reactAnios" class="form-control  experiencia-input" placeholder="Años de Experiencia">

                </div>
                <div class="form-check form-check-inline">
                  @if(miFormulario.get('reactAnios')?.invalid ){
                    <div class="text-danger">
                      <small>*</small>
                    </div>
                  }

                </div>

              </div>

          </div>


        </div>
        <div class="form-group ">

          <div class="row d-flex align-items-center">

              <div class="col-sm-2">
                <label for="angular"  style="min-width: 100px;">angular</label>

              </div>
              <div class="col-sm-8">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" formControlName="angularNivel" value="Basico" (change)="onCheckboxChange('angular', 'Basico', $event)">
                  <label class="form-check-label">Basico</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" formControlName="angularNivel" value="Intermedio" (change)="onCheckboxChange('angular', 'Intermedio', $event)">
                  <label class="form-check-label">Intermedio</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" formControlName="angularNivel" value="Avanzado"  (change)="onCheckboxChange('angular', 'Avanzado', $event)">
                  <label class="form-check-label">Avanzado</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" formControlName="angularNivel" value="Experto"  (change)="onCheckboxChange('angular', 'Experto', $event)">
                  <label class="form-check-label">Experto</label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="number" step="1" (input)="onInputChange('angularAnios', $event)" formControlName="angularAnios" class="form-control  experiencia-input" placeholder="Años de Experiencia">

                </div>
                <div class="form-check form-check-inline">
                  @if(miFormulario.get('angularAnios')?.invalid ){
                    <div class="text-danger">
                      <small>*</small>
                    </div>
                  }

                </div>

              </div>

          </div>


        </div>

        <div class="form-group ">

          <div class="row d-flex align-items-center">

              <div class="col-sm-2">
                <label for="django"  style="min-width: 100px;">DJango/Flask</label>

              </div>
              <div class="col-sm-8">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" formControlName="djangoNivel" value="Basico"  (change)="onCheckboxChange('django', 'Basico', $event)">
                  <label class="form-check-label">Basico</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" formControlName="djangoNivel" value="Intermedio"  (change)="onCheckboxChange('django', 'Intermedio', $event)">
                  <label class="form-check-label">Intermedio</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" formControlName="djangoNivel" value="Avanzado" (change)="onCheckboxChange('django', 'Avanzado', $event)">
                  <label class="form-check-label">Avanzado</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" formControlName="djangoNivel" value="Experto"  (change)="onCheckboxChange('django', 'Experto', $event)">
                  <label class="form-check-label">Experto</label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="number" step="1" (input)="onInputChange('djangoAnios', $event)" formControlName="djangoAnios" class="form-control  experiencia-input" placeholder="Años de Experiencia">

                </div>
                <div class="form-check form-check-inline">
                  @if(miFormulario.get('djangoAnios')?.invalid ){
                    <div class="text-danger">
                      <small>*</small>
                    </div>
                  }

                </div>

              </div>

          </div>


        </div>

        <div class="form-group ">

          <div class="row d-flex align-items-center">

              <div class="col-sm-2">
                <label for="django"  style="min-width: 100px;">FastApi</label>

              </div>
              <div class="col-sm-8">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" formControlName="fastapiNivel" value="Basico"  (change)="onCheckboxChange('fastapi', 'Basico', $event)">
                  <label class="form-check-label">Basico</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" formControlName="fastapiNivel" value="Intermedio"  (change)="onCheckboxChange('fastapi', 'Intermedio', $event)">
                  <label class="form-check-label">Intermedio</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" formControlName="fastapiNivel" value="Avanzado" (change)="onCheckboxChange('fastapi', 'Avanzado', $event)">
                  <label class="form-check-label">Avanzado</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" formControlName="fastapiNivel" value="Experto"  (change)="onCheckboxChange('fastapi', 'Experto', $event)">
                  <label class="form-check-label">Experto</label>
                </div>
                <div class="form-check form-check-inline">
                  <input type="number" step="1" (input)="onInputChange('fastapiAnios', $event)" formControlName="fastapiAnios" class="form-control  experiencia-input" placeholder="Años de Experiencia">

                </div>
                <div class="form-check form-check-inline">
                  @if(miFormulario.get('fastapiAnios')?.invalid ){
                    <div class="text-danger">
                      <small>*</small>
                    </div>
                  }

                </div>

              </div>

          </div>

        </div>

      </form>
    </div>
  </div>



</div>

